<div class="container"><br>
    <div class="row">
        <div class="col">
            <p><i>`This application contains all the regions of the world and displaying all the countries lies in a
                    particular reion with language and currency filter. It also contains all the basic necessory
                    information of all the countries.`</i></p><br>

            <p>This application is created as a project by Mohit Kataria. This is for the learning and testing the
                skills.
                For any querry you can write on the email : mohitkataria1997@gmail.com .</p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">&copy; Created By: Mohit Kataria</span>
    </div>
</footer>