<div class="container" style="text-align: center">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark header">
        <a class="navbar-brand " href="#"><b>CountryPedia</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link active bgHover" [routerLink]="['/home']">Home <span
                class="sr-only">(current)</span></a>
            <a class="nav-item nav-link bgHover" [routerLink]="['/about']">About</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <hr>
  <br>
</div>

<ngx-ui-loader></ngx-ui-loader>
<router-outlet></router-outlet>