<div class="container background">
    <div class="row" style="text-align: center">
        <div class="col reg"><u>All Regions</u></div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 col-lg-4" *ngFor='let region of allRegions'>
            <div class="card border-info" style="width: 18rem; text-align: center">
                <div class="card-body" style="background-color: rgba(233, 234, 236, 0.911)">
                    <h4 class="card-title">{{region | uppercase}}</h4>
                    <p class="card-text">Click the button below to view all the countries of {{region}}.</p>
                    <a [routerLink]="['/allCountries',region]" class="btn btn-primary">View Countries</a>
                </div>
            </div><br><br>
        </div>
    </div><br><br><br>
</div>
<footer class="footer">
    <div class="container text-center">
        <span class="text-muted">&copy; Created By: Mohit Kataria</span>
    </div>
</footer>